{% extends '@DeveloperLife/user/profile/indexProfile.html.twig' %}

{% block content %}
    {% if userOrders %}
        <h2>{{ 'userOrder.message.userOrderListTitle'|trans({}, 'profile') }}</h2>
        <table class="table-bordered table table-hover">
            <tr>
                <th>
                    {{ 'order.label.table.number'|trans({}, 'admin') }}
                </th>
                <th>
                    {{ 'order.label.table.creationdate'|trans({}, 'admin') }}
                </th>
                <th>
                    {{ 'order.label.table.orderStatus'|trans({}, 'admin') }}
                </th>
                <th>
                    {{ 'user.linkLabel.actions'|trans({}, 'admin') }}
                </th>
            </tr>
            {% for userOrder in userOrders %}
                <tr>
                    <td>
                        {{ userOrder.number }}
                    </td>
                    <td>
                        {{ userOrder.stringCreationDate }}
                    </td>
                    <td>
                        {{ userOrder.orderStatus.name }}
                    </td>
                    <td>
                        <a href="{{ path('shop_profile_order_show', {'id': userOrder.id, 'orderType': 'user'}) }}">
                            {{ 'user.linkLabel.details'|trans({}, 'admin') }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    {% if groupOrders %}
        <h3>{{ 'user.title.groupOrders'|trans({}, 'admin') }}</h3>
        <table class="table-bordered table table-hover">
            <tr>
                <th>
                    {{ 'order.label.table.groupName'|trans({}, 'admin') }}
                </th>
                <th>
                    {{ 'order.label.table.number'|trans({}, 'admin') }}
                </th>
                <th>
                    {{ 'order.label.table.creationdate'|trans({}, 'admin') }}
                </th>
                <th>
                    {{ 'order.label.table.orderStatus'|trans({}, 'admin') }}
                </th>
                <th>
                    {{ 'user.linkLabel.actions'|trans({}, 'admin') }}
                </th>
            </tr>
            {% for groupOrder in groupOrders %}
                <tr>
                    <td>
                        {{ groupOrder.userGroup.name }}
                    </td>
                    <td>
                        {{ groupOrder.number }}
                    </td>
                    <td>
                        {{ groupOrder.stringCreationDate }}
                    </td>
                    <td>
                        {{ groupOrder.orderStatus.name }}
                    </td>
                    <td>
                        <a href="{{ path('shop_profile_order_show', {'id': groupOrder.id, 'orderType': 'group'}) }}">
                            {{ 'user.linkLabel.details'|trans({}, 'admin') }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}