{% extends '@DeveloperLife/user/order/indexOrder.html.twig' %}

{% block content %}
    {% if userOrder is defined %}
        <h2>
            {{ 'order.fieldLabel.orderNumber'|trans({}, 'admin') }}: {{ userOrder.number }}
        </h2>
        <div class="row">
            <div class="col-xs-3">
            <span class="pull-right">
                {{ 'order.fieldLabel.creationDate'|trans({}, 'admin') }}:
            </span>
            </div>
            <div class="col-xs-9">
                {{ userOrder.stringCreationDate }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
            <span class="pull-right">
                {{ 'order.fieldLabel.deliveryAddress'|trans({}, 'admin') }}:
            </span>
            </div>
            <div class="col-xs-9">
                {{ userOrder.deliveryAddress.country }} {{ userOrder.deliveryAddress.region }} {{ userOrder.deliveryAddress.city }} {{ userOrder.deliveryAddress.street }} {{ userOrder.deliveryAddress.house }}
                /{{ userOrder.deliveryAddress.flat }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
            <span class="pull-right">
                {{ 'cart.status.message.summaryQuantity'|trans({}, 'shop') }}:
            </span>
            </div>
            <div class="col-xs-9">
                {{ userOrder.summaryData.summaryQuantity }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
            <span class="pull-right">
                {{ 'cart.status.message.summaryCost'|trans({}, 'shop') }}:
            </span>
            </div>
            <div class="col-xs-9">
                {{ userOrder.summaryData.summaryCost }}
            </div>
        </div>
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    {{ 'order.label.table.category'|trans({}, 'admin') }}
                </th>
                <th>
                    {{ 'order.label.table.product'|trans({}, 'admin') }}
                </th>
                <th>
                    {{ 'order.label.table.price'|trans({}, 'admin') }}
                </th>
                <th>
                    {{ 'order.label.table.quantity'|trans({}, 'admin') }}
                </th>
            </tr>
            {% for userOderHasProduct in userOrder.userOrderHasProducts %}
                <tr>
                    <td>
                        <a href="{{ path('shop_category_allProducts', {'id': userOderHasProduct.product.category.id}) }}">
                            {{ userOderHasProduct.product.category.name }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('shop_product_show', {'id': userOderHasProduct.product.id}) }}">
                            {{ userOderHasProduct.product.name }}
                        </a>
                    </td>
                    <td>
                        {{ userOderHasProduct.price }}
                    </td>
                    <td>
                        {{ userOderHasProduct.quantity }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% elseif groupOrder is defined %}
        <h2>
            {{ 'order.fieldLabel.orderNumber'|trans({}, 'admin') }}: {{ groupOrder.number }}
        </h2>
        <div class="row">
            <div class="col-xs-3">
            <span class="pull-right">
                {{ 'order.fieldLabel.groupName'|trans({}, 'admin') }}:
            </span>
            </div>
            <div class="col-xs-9">
                {{ groupOrder.userGroup.name }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
            <span class="pull-right">
                {{ 'order.fieldLabel.creationDate'|trans({}, 'admin') }}:
            </span>
            </div>
            <div class="col-xs-9">
                {{ groupOrder.stringCreationDate }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
            <span class="pull-right">
                {{ 'order.fieldLabel.deliveryAddress'|trans({}, 'admin') }}:
            </span>
            </div>
            <div class="col-xs-9">
                {{ groupOrder.deliveryAddress.country ~ ' ' ~ groupOrder.deliveryAddress.region ~ ' '
                ~ groupOrder.deliveryAddress.city ~ ' ' ~ groupOrder.deliveryAddress.street ~ ' '
                ~ groupOrder.deliveryAddress.house ~ '/' ~ groupOrder.deliveryAddress.flat }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
            <span class="pull-right">
                {{ 'cart.status.message.summaryQuantity'|trans({}, 'shop') }}:
            </span>
            </div>
            <div class="col-xs-9">
                {{ groupOrder.summaryData.summaryQuantity }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
            <span class="pull-right">
                {{ 'cart.status.message.summaryCost'|trans({}, 'shop') }}:
            </span>
            </div>
            <div class="col-xs-9">
                {{ groupOrder.summaryData.summaryCost }}
            </div>
        </div>
        {% for userData in orderData %}
            <h4>{{ userData['user'].firstName ~ ' ' ~ userData['user'].lastName }}</h4>
            <table class="table table-bordered table-hover">
                {% for productData in userData['products'] %}
                    <tr>
                        <td>
                            <a href="{{ path('shop_category_allProducts', {'id': productData['product'].category.id}) }}">
                                {{ productData['product'].category.name }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('shop_product_show', {'id': productData['product'].id}) }}">
                                {{ productData['product'].name }}
                            </a>
                        </td>
                        <td>
                            {{ productData['price'] }}
                        </td>
                        <td>
                            {{ productData['quantity'] }}
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td class="zz-summary_data_container" colspan="4">
                        {{ 'cart.status.message.summaryQuantity'|trans({}, 'shop') ~ ': ' ~ userData.summaryData.summaryQuantity
                        ~ ' / ' ~ 'cart.status.message.summaryCost'|trans({}, 'shop') ~ ': ' ~ userData.summaryData.summaryCost }}
                    </td>
                </tr>
            </table>
        {% endfor %}
    {% endif %}
{% endblock %}