{% extends '@DeveloperLife/layouts/adminLayout.html.twig' %}

{% block body %}
    <div class="col-xs-2">
        {% block leftSideBar %}
            <a class="btn btn-default zz-sidebar_button" href="{{ path('admin_shop_product') }}">
                {{ 'product.linkLabel.productList'|trans({}, 'admin') }}
            </a>
            <a class="btn btn-default zz-sidebar_button" href="{{ path('admin_shop_product_new') }}">
                {{ 'product.linkLabel.newProduct'|trans({}, 'admin') }}
            </a>
        {% endblock %}
    </div>
    <div class="col-xs-10">
        {% block content %}

            <table class="table table-bordered table-hover">
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'product.form.fieldLabel.category'|trans({}, 'admin'), 'c.name') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'product.form.fieldLabel.name'|trans({}, 'admin'), 'pr.name') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'product.form.fieldLabel.price'|trans({}, 'admin'), 'pr.price') }}</th>
                    <th></th>
                </tr>
                {% for product in pagination %}
                    <tr>
                        <td>
                            <a href="{{ path('admin_shop_category_show', {'id': product.category.id}) }}">
                                {{ product.category.name }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('admin_shop_product_show', {'id': product.id}) }}">{{ product.name }}</a>
                        </td>
                        <td>
                            {{ product.price }}
                        </td>
                        <td>
                            <div class="btn-group btn-group-xs" role="group">
                                <a class="btn btn-danger"
                                   href="{{ path('admin_shop_product_remove', {'id': product.id}) }}">
                                    {{ 'product.linkLabel.removeProduct'|trans({}, 'admin') }}
                                </a>
                                <a class="btn btn-warning"
                                   href="{{ path('admin_shop_product_edit', {'id': product.id}) }}">
                                    {{ 'product.linkLabel.editProduct'|trans({}, 'admin') }}
                                </a>
                            </div>

                        </td>

                    </tr>
                {% endfor %}
            </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endblock %}
    </div>
{% endblock %}