<div class="container zz-form_container">
    {{ form_start(form,{'attr': {'class': 'form-horizantal'}}) }}

    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.name) }}
    </div>

    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.description) }}
    </div>

    <div class="form-group">
        {{ form_label(form.parentCategory) }}
        {{ form_widget(form.parentCategory, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.parentCategory) }}
    </div>

    <div class="form-group">
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-default'}}) }}
    </div>

    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
