{% extends '@DeveloperLife/admin/shop/category/indexCategory.html.twig' %}

{% block content %}
    <div class="row zz-action_menu_container">
        <a class="btn btn-warning btn-xs" href="{{ path('admin_shop_category_edit', {'id': category.id}) }}">
            {{ 'category.linkLabel.editCategory'|trans({}, 'admin') }}
        </a>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <span class="pull-right">
                {{ 'category.form.fieldLabel.name'|trans({}, 'admin') }}:
            </span>
        </div>
        <div class="col-xs-9">
            {{ category.name }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <span class="pull-right">
                {{ 'category.form.fieldLabel.description'|trans({}, 'admin') }}:
            </span>
        </div>
        <div class="col-xs-9">
            {{ category.description }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <span class="pull-right">
                {{ 'category.show.label.parentCategory'|trans({}, 'admin') }}:
            </span>
        </div>
        <div class="col-xs-9">
            {% if category.parentCategory %}
                <a href="{{ path('admin_shop_category_show',{'id': category.parentCategory.id}) }}">
                    {{ category.parentCategory.name }}
                </a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <span class="pull-right">
                {{ 'category.show.label.childCategories'|trans({}, 'admin') }}:
            </span>
        </div>
        <div class="col-xs-9">
            <ul>
                {% for childCategory in category.childCategories %}
                    <li><a href="{{ path('admin_shop_category_show', {'id': childCategory.id}) }}">{{ childCategory.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}