{% extends '@DeveloperLife/layouts/adminLayout.html.twig' %}

{% block body %}
    <div class="col-xs-2">
        {% block leftSideBar %}
            <a class="btn btn-default zz-sidebar_button" href="{{ path('admin_user') }}">
                {{ 'user.linkLabel.userList'|trans({}, 'admin') }}
            </a>
        {% endblock %}
    </div>
    <div class="col-xs-10">
        {% block content %}
            <table class="table table-bordered table-hover">
                <tr>
                    <th>{{ 'user.fieldLabel.firstName'|trans({}, 'admin') }}</th>
                    <th>{{ 'user.fieldLabel.lastName'|trans({}, 'admin') }}</th>
                    <th>{{ 'user.fieldLabel.email'|trans({}, 'admin') }}</th>
                    <th>{{ 'user.linkLabel.actions'|trans({}, 'admin') }}</th>
                </tr>
                {% for user in users %}
                    <tr>
                        <td>
                            {{ user.firstName }}
                        </td>
                        <td>
                            {{ user.lastName }}
                        </td>
                        <td>
                            {{ user.email }}
                        </td>
                        <td>
                            <a class="btn btn-default btn-xs" href="{{ path('admin_user_show', {'id': user.id}) }}">
                                {{ 'user.linkLabel.details'|trans({}, 'admin') }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endblock %}
    </div>
{% endblock %}