{% extends '@DeveloperLife/admin/shop/user/indexUser.html.twig' %}

{% block content %}
    <div class="row zz-action_menu_container">
        <a class="btn btn-default btn-xs" href="{{ path('admin_user_show', {'id': user.id, 'infoAlias': 'addresses'}) }}">
            {{ 'user.linkLabel.deliveryAddress'|trans({}, 'admin') }}
        </a>
        <a class="btn btn-default btn-xs" href="{{ path('admin_user_show', {'id': user.id, 'infoAlias': 'groups'}) }}">
            {{ 'user.title.userGroups'|trans({}, 'admin') }}
        </a>
        <a class="btn btn-default btn-xs" href="{{ path('admin_user_show', {'id': user.id, 'infoAlias': 'orders'}) }}">
            {{ 'user.title.orders'|trans({}, 'admin') }}
        </a>
    </div>
    <h2>{{ 'user.title.commonInformation'|trans({}, 'admin') }}</h2>
    <div class="row">
        <div class="col-xs-3">
            <span class="pull-right">
                {{ 'user.fieldLabel.email'|trans({}, 'admin') }}:
            </span>
        </div>
        <div class="col-xs-9">
            {{ user.email }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <span class="pull-right">
                {{ 'user.fieldLabel.firstName'|trans({}, 'admin') }}:
            </span>
        </div>
        <div class="col-xs-9">
            {{ user.firstName }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <span class="pull-right">
                {{ 'user.fieldLabel.lastName'|trans({}, 'admin') }}:
            </span>
        </div>
        <div class="col-xs-9">
            {{ user.lastName }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <span class="pull-right">
                {{ 'user.fieldLabel.birthDate'|trans({}, 'admin') }}:
            </span>
        </div>
        <div class="col-xs-9">
            {{ user.stringBirthDate }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <span class="pull-right">
                {{ 'user.fieldLabel.registrationDate'|trans({}, 'admin') }}:
            </span>
        </div>
        <div class="col-xs-9">
            {{ user.stringRegistrationDate }}
        </div>
    </div>
    {{ include('@DeveloperLife/admin/shop/user/information.html.twig', {'user': user, 'infoAlias': infoAlias}) }}
{% endblock %}