<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('bundles/developerlife/bootstrap-3.3.7-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/developerlife/stylesheet/admin.css') }}">
    <title>
        {{ 'layout.title'|trans({}, 'admin') }}
    </title>
</head>
<body>
<div class="navbar navbar-inverse navbar-static-top" id="main_menu">
    <div class="container">
        <div class="navbar-header">
            <a href="{{ path('admin_index') }}" class="navbar-brand">
                {{ 'layout.title'|trans({}, 'admin') }}
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="main-menu">
            <ul class="nav navbar-nav">
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{ path('admin_user') }}">
                            {{ 'user.linkLabel.navMenu'|trans({}, 'admin') }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_order') }}">
                            {{ 'order.label.link.navMenu'|trans({}, 'admin') }}
                        </a>
                    </li>
                    <li>
                    <li>
                        <a href="{{ path('admin_shop_category') }}">
                            {{ 'category.linkLabel.navMenu'|trans({}, 'admin') }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_shop_product') }}">
                            {{ 'product.linkLabel.navMenu'|trans({}, 'admin') }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_logout') }}">
                            {{ 'layout.label.link.logout'|trans({}, 'admin') }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% block body %}
{% endblock %}

<script src="{{ asset('bundles/developerlife/js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('bundles/developerlife/bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>

</body>
</html>