{% extends '@DeveloperLife/layouts/shopLayout.html.twig' %}

{% block body %}
    <div class="container zz-form_container">
        {% if error %}
            <div class="alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <form class="form-horizontal" action="{{ path('shop_login') }}" method="post">
            <div class="form-group">
                <label for="email">
                    {{ 'form.login.fieldLabel.email'|trans({}, 'shop') }}
                </label>
                <input class="form-control" type="text" id="email" name="_email" value="{{ lastUserName }}">
            </div>

            <div class="form-group">
                <label for="password">
                    {{ 'form.login.fieldLabel.password'|trans({}, 'shop') }}
                </label>
                <input class="form-control" type="password" id="password" name="_password">
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="form-group">
                <button class="btn btn-default" type="submit">
                    {{ 'form.login.fieldLabel.login'|trans({}, 'shop') }}
                </button>
            </div>
        </form>
    </div>
{% endblock %}