{% extends '@DeveloperLife/user/profile/indexProfile.html.twig' %}

{% block content %}
    <div class="zz-form_container">
        <form id="zz-cart_mode_container" action="{{ action }}" method="post">
            {% for cartMode in cartModes %}
                {% set checked = '' %}
                {% if activeCartMode == cartMode.alias %}
                    {% set checked="checked" %}
                {% endif %}
                <div class="radio">
                    <label for="zz-cart_mode_{{ cartMode.id }}">
                        <input class="zz-cart_mode" type="radio" value="{{ cartMode.id }}" id="zz-cart_mode_{{ cartMode.id }}"
                               name="cart[mode]" {{ checked }} data-cart_mode_alias="{{ cartMode.alias }}">
                        {{ cartMode.name }}
                    </label>
                </div>
            {% endfor %}
            {% set displayMode = 'none' %}
            {% if activeCartMode == 'groupCart' %}
                {% set displayMode = 'block' %}
            {% endif %}
            <div class="form-group" id="zz-cart_active_group_container" style="display: {{ displayMode }}">
                <label for="cart_active_group">
                    {{ 'userGroup.form.labelLink.activeGroup'|trans({}, 'profile') }}
                </label>
                <select class="form-control" name="cart[active_group]" id="cart_active_group">
                    {% for userHasGroup in userHasGroups %}
                        {% set selected = '' %}
                        {% if activeGroup == userHasGroup.userGroup.id %}
                            {% set selected="selected" %}
                        {% endif %}
                        <option {{ selected }} value="{{ userHasGroup.userGroup.id }}">{{ userHasGroup.userGroup.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <input class="btn btn-default" type="submit" value="{{ 'cart.settings.form.submit'|trans({}, 'profile') }}">
            </div>
        </form>
    </div>
{% endblock %}