{% for category in categories %}
    <div>
        <a href="{{ path('shop_category_allProducts', {'id': category.id }) }}" class="btn btn-primary zz-sidebar_button">
            {{ category.name }}
        </a>
    </div>
{% endfor %}