{% extends '@DeveloperLife/user/profile/indexProfile.html.twig' %}

{% block content %}
    {% block actionMenu %}
        <div class="zz-action_menu_container">
            <a class="btn btn-xs btn-default" href="{{ path('shop_profile_address_new') }}">
                {{ 'deliveryAddress.label.link.addNew'|trans({}, 'profile') }}
            </a>
        </div>
    {% endblock %}
    {% for address in addresses %}
        <div>
            {{ address.country ~ ' ' ~ address.region ~ ' ' ~ address.city ~ ' ' ~ address.street ~ ' ' ~ address.house
                ~ '/' ~  address.flat }}
            <a class="btn btn-warning btn-xs" href="{{ path('shop_profile_address_edit', {'id': address.id}) }}">
                {{ 'deliveryAddress.label.link.edit'|trans({}, 'profile') }}
            </a>
            <a class="btn btn-danger btn-xs" href="{{ path('shop_profile_address_remove', {'id': address.id}) }}">
                {{ 'deliveryAddress.label.link.remove'|trans({}, 'profile') }}
            </a>
        </div>
    {% endfor %}
{% endblock %}