{% extends '@DeveloperLife/user/profile/indexProfile.html.twig' %}

{% block content %}
    {% block actionMenu %}
        <div class="zz-action_menu_container">
            <a class="btn btn-xs btn-default" href="{{ path('shop_profile_group_new') }}">
                {{ 'userGroup.label.link.addNew'|trans({}, 'profile') }}
            </a>
            <a class="btn btn-xs btn-warning" href="{{ path('shop_profile_group_join_list') }}">
                {{ 'userGroup.label.link.join'|trans({}, 'profile') }}
            </a>
        </div>
    {% endblock %}
    <h2>{{ 'userGroup.message.group.ownerTitle'|trans({}, 'profile') }}</h2>
    {% for userGroup in ownerUserGroups %}
        <p>
            <a href="{{ path('shop_profile_group_show', {'id': userGroup.id}) }}">
                {{ userGroup.name }}
            </a>
            <a class="btn btn-warning btn-xs" href="{{ path('shop_profile_group_edit', {'id': userGroup.id}) }}">
                {{ 'userGroup.label.link.edit'|trans({}, 'profile') }}
            </a>
            <a class="btn btn-danger btn-xs" href="{{ path('shop_profile_group_remove', {'id': userGroup.id}) }}">
                {{ 'userGroup.label.link.remove'|trans({}, 'profile') }}
            </a>
        </p>
    {% endfor %}
    <h2>{{ 'userGroup.message.group.memberTitle'|trans({}, 'profile') }}</h2>
    {% for userHasGroup in memberUserHasGroups %}
        <p>
            <a href="{{ path('shop_profile_group_show', {'id': userHasGroup.userGroup.id}) }}">
                {{ userHasGroup.userGroup.name }}
            </a>
        </p>
    {% endfor %}
{% endblock %}