{% extends '@DeveloperLife/user/userGroup/indexUserGroup.html.twig' %}

{% block content %}
    {% if userGroups %}
        <h2>{{ 'userGroup.message.group.groupsForJoin'|trans({}, 'profile') }}</h2>
        {% for userGroup in userGroups %}
            <p>
                <a href="{{ path('shop_profile_group_show', {'id': userGroup.id}) }}">
                    {{ userGroup.name }}
                </a>
                <span id="zz-group_join_request_container_{{ userGroup.id }}">
                <button class="zz-group_join_request btn btn-warning btn-xs" data-user_group_id="{{ userGroup.id }}">
                    {{ 'userGroup.label.link.join'|trans({}, 'profile') }}
                </button>
            </span>
            </p>
        {% endfor %}
    {% else %}
        <h3>{{ 'userGroup.message.group.emptyGroupsForJoin'|trans({}, 'profile') }}</h3>
    {% endif %}
{% endblock %}