{% extends '@DeveloperLife/user/order/indexOrder.html.twig' %}

{% block content %}
    <h3>{{ 'userGroup.form.labelLink.name'|trans({}, 'profile') ~ ': ' ~ userGroup.name }}</h3>
    <div class="row">
        <div class="col-xs-3">
            <span class="pull-right">
                {{ 'userGroup.label.fieldLabel.owner'|trans({}, 'profile') }}:
            </span>
        </div>
        <div class="col-xs-9">
            {{ userGroup.owner.firstName ~ ' ' ~ userGroup.owner.lastName }}
        </div>
    </div>
    {% if userGroup.description %}
        <div class="row">
            <div class="col-xs-3">
            <span class="pull-right">
                {{ 'userGroup.form.labelLink.description'|trans({}, 'profile') }}:
            </span>
            </div>
            <div class="col-xs-9">
                {{ userGroup.description }}
            </div>
        </div>
    {% endif %}
    <h4>{{ 'userGroup.label.fieldLabel.members'|trans({}, 'profile') }}</h4>
    <ul>
        {% for groupHasUser in userGroup.groupHasUsers %}
            <li>
                {{ groupHasUser.user.firstName }} {{ groupHasUser.user.lastName }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}